/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28-mar-2017, 10.58.59
    Author     : Federico
*/

body
{
    background-color: #E0FFFF;
    font: 17px/25px "Calibri", Arial, sans-serif;
}

#title1
{
    color: #111111;
    font: 44px/54px "Bazooka", Arial, sans-serif;
    font-weight: bold;  
    text-align:center;
    background-color: #ecf5f9;
}

#subtitle
{
    padding-left: 20px;
    padding-right: 20px;
    border-top: 2px solid #000000;      
    box-shadow: 0 0 5px #C1FFFF;
}

h1
{
    color: #111111;
    font: 30px/35px "Bazooka", Arial, sans-serif;
    font-weight: bold;    
}

h2
{
    color: #111111;
    font: 25px/30px "Bazooka", Arial, sans-serif;
    font-weight: bold;    
}

h3
{
    color: #111111;
    font: 20px/25px "Bazooka", Arial, sans-serif;
    font-weight: bold;    
}

a:link, a:visited  
{
    font-size: 20px;
    font: 17px/25px "Arial", sans-serif;
    text-decoration: none; 
    color: #111111;
}

#sommario ol li
{
    list-style-type: none; /* toglie l'enumerazione della lista */
}

#sommario
{
    border-top: 2px solid #111111;      
    box-shadow: 0 0 5px #C1FFFF;
    padding-left: 20px;
    background-color: #ecf5f9;
    border-bottom: 2px solid #000000;
}
a:hover
{
    font-weight: bold; /*cambia la scritta quando sono davanti ad un link */
}

#LaGiente
{
    box-shadow: 0 0 5px #C1FFFF;
    padding-left: 20px;
}

#ComeIscriversi
{
    border-top: 2px solid #000000;
    box-shadow: 0 0 5px #C1FFFF;
    padding-left: 20px;
}

#Costi
{
    border-top: 2px solid #000000;
    box-shadow: 0 0 5px #C1FFFF;  
    padding-left: 20px;
}

#listaPost
{
    border-top: 2px solid #000000;
    border-bottom:  2px solid #000000;
    border-left: 2px solid #000000;
    border-right: 2px solid #000000;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 40px;
}

.name
{
    font: 17px/25px "Bazooka", Arial, sans-serif;
    font-weight: bold; 
}

#post1
{
    border-top: 2px solid #000000;
    margin-bottom: 20px;
    margin-top: 20px;
    border-bottom:  2px solid #000000;
    border-left: 2px solid #000000;
    border-right: 2px solid #000000;
    box-shadow: 0 0 5px #C1FFFF;  
    padding-left: 20px;
}

#post2
{
    border-top: 2px solid #000000;
    margin-bottom: 20px;
    margin-top: 20px;
    border-bottom:  2px solid #000000;
    border-left: 2px solid #000000;
    border-right: 2px solid #000000;
    box-shadow: 0 0 5px #C1FFFF;  
    padding-left: 20px;
}

#post3
{
    border-top: 2px solid #000000;
    margin-bottom: 20px;
    margin-top: 20px;
    border-bottom:  2px solid #000000;
    border-left: 2px solid #000000;
    border-right: 2px solid #000000;
    box-shadow: 0 0 5px #C1FFFF;  
    padding-left: 20px;
}

.img1
{
    height: 75px;
    width:  75px;
}

#post2 .contenuto img
{
    width: 276px;
    eight: 77px;
}

/* a discendente da #post3 */
#post3 a
{
    text-decoration: underline;
}

.navigazione ol li
{
    list-style-type: none; /* toglie l'enumerazione della lista */
    display: inline-block;
    
}

.navigazione li
{
    padding-left: 20px; /* spazio interno al blocco */
    padding-right: 20px;
    border-right: 2px solid #111111;
    font-weight: bold; 
}

.navigazione
{
    border-bottom: 2px solid #111111;
    border-top: 2px solid #111111;
    border-left: 2px solid #111111;
    border-right: 2px solid #111111;
}   

#divBodyLogin:before
{
    content: '\A';
    white-space: pre;
}

#loginBody
{
    width: 200px;
    height: 150px;
    background-color: #C2EFFF;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid #000000;
    border-top: 1px solid #000000;
    border-right: 1px solid #000000;
    border-left: 1px solid #000000;
    box-shadow: 0 0 5px #C1FFFF;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}
#loginBody label
{
    font: 20px/25px "Calibri";
    font-weight: bold;
}

#loginBody label:after  /* quando finisce la label */
{
    content: '\A';
    white-space: pre; /* manda a capo dopo aver definito la label */
}

#loginBody form input
{
    width: 100%;
    
}

#postContent input:focus /* quando clicco nella textArea si colora */
{
    outline: none;
    border-color: #22bb22;
    box-shadow: 0 0 10px #22bb22;
}

#loginBody form button
{
    width: 100%;
    font-weight: bold;
}

