/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28-mar-2017, 10.58.59
    Author     : Federico
*/

body
{
    background-color: #E0FFFF;
    font: 17px/25px "Calibri", Arial, sans-serif;    
}

nav
{
    text-align: center;
}

#title
{
    color: #111111;
    font: 35px/40px "Bazooka", Arial, sans-serif;
    font-weight: bold;  
    text-align:center;
}

h1
{
    color: #111111;
    font: 30px/35px "Bazooka", Arial, sans-serif;
    font-weight: bold;    
}

h2
{
    color: #111111;
    font: 25px/30px "Bazooka", Arial, sans-serif;
    font-weight: bold;    
}

h3
{
    color: #111111;
    font: 20px/25px "Bazooka", Arial, sans-serif;
    font-weight: bold;    
}

a:link, a:visited  
{
    font-size: 20px;
    font: 17px/25px "Arial", sans-serif;
    text-decoration: none; 
    color: #111111;
}

#sommario ol li
{
    list-style-type: none; /* toglie l'enumerazione della lista */
}

#sommario li:after   /* va a capo dopo ogni li in Sommario */
{
    content: '\A';
    white-space: pre; 
}

a:hover
{
    font-weight: bold; /*cambia la scritta quando sono davanti ad un link */
}

#login
{
    width: 400px;
    background-color: #C2EFFF;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid #000000;
    border-top: 1px solid #000000;
    border-right: 1px solid #000000;
    border-left: 1px solid #000000;
    box-shadow: 0 0 5px #C1FFFF;
}

#login label
{
    font: 20px/25px "Calibri";
}